src/main/resources/xsd/externalFer.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.rt-eu.ru/med/er/v2_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ErPortal" targetNamespace="http://www.rt-eu.ru/med/er/v2_0">
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.rt-eu.ru/med/er/v2_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.rt-eu.ru/med/er/v2_0">
  <xs:element name="CancelAppointmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book_Id_Mis" type="xs:string"/>
        <xs:element name="Canceled_Reason" type="tns:Canceled_Reason"/>
        <xs:element minOccurs="0" name="Error_Data_Parameters" type="tns:Error_Data_Parameters"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book_Id_Mis" type="xs:string"/>
        <xs:element name="Status_Code" type="xs:string"/>
        <xs:element name="Comment" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element name="Slot_Id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element name="Book_Id_Mis" type="xs:string"/>
        <xs:element name="Status" type="tns:Status"/>
        <xs:element name="Slot_Id" type="xs:string"/>
        <xs:element name="Visit_Time" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="Room" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOInfoExtendedRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Booking_Type" type="xs:string"/>
        <xs:element minOccurs="0" name="Service_Posts" type="tns:Service_Posts"/>
        <xs:element minOccurs="0" name="Service_Specialty" type="tns:Service_Specialty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOInfoExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="MO_List">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="MO" type="tns:MO_Param_Age"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOResourceInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Service_Posts" type="tns:Service_Posts"/>
        <xs:element minOccurs="0" name="Service_Specialty" type="tns:Service_Specialty"/>
        <xs:element minOccurs="0" name="MO_OID_List">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="MO_OID" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Referral_Id" type="xs:string"/>
        <xs:element name="Start_Date_Range" type="xs:date"/>
        <xs:element name="End_Date_Range" type="xs:date"/>
        <xs:element minOccurs="0" name="Referral" type="tns:Param_Of_Referral"/>
        <xs:element minOccurs="0" name="Patient_Data" type="tns:Patient_Data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOResourceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="MO_Resource_List" type="tns:MO_Resource_List"/>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element name="Patient_Data" type="tns:Patient_Data"/>
        <xs:element minOccurs="0" name="Pass_referral" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Patient_Id" type="xs:string"/>
        <xs:element minOccurs="0" name="No_Referrals" type="xs:string"/>
        <xs:element minOccurs="0" name="Referrals" type="tns:Referrals"/>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferralInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element name="Patient_Data" type="tns:Patient_Data"/>
        <xs:element name="Referral_Number" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferralInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Patient_Id" type="xs:string"/>
        <xs:element minOccurs="0" name="Referrals" type="tns:Referrals"/>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Specialist_SNILS" type="xs:string"/>
        <xs:element minOccurs="0" name="Room_OID" type="xs:string"/>
        <xs:element name="MO_OID" type="xs:string"/>
        <xs:element minOccurs="0" name="Service_Post" type="tns:Service_Post"/>
        <xs:element minOccurs="0" name="Service_Specialty" type="tns:Service_Specialty"/>
        <xs:element minOccurs="0" name="Referral_Id" type="xs:string"/>
        <xs:element name="Start_Date_Range" type="xs:date"/>
        <xs:element name="End_Date_Range" type="xs:date"/>
        <xs:element name="Start_Time_Range" type="xs:time"/>
        <xs:element name="End_Time_Range" type="xs:time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Schedule">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Slots">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Slot_Id" type="xs:string"/>
                    <xs:element name="VisitTime" type="xs:anySimpleType"/>
                    <xs:element minOccurs="0" name="Room" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePostSpecsInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element name="MO_Id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePostSpecsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Session_ID" type="xs:string"/>
        <xs:element minOccurs="0" name="Service_Post_Specs" type="tns:Service_Post_Specs"/>
        <xs:element minOccurs="0" name="Error" type="tns:Error_Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReferralAppointmentInformationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book_Id_Mis" type="xs:string"/>
        <xs:element name="Referral_Id" type="xs:string"/>
        <xs:element name="Appointment_Status" type="tns:Appointment_Status"/>
        <xs:element name="MO_OID" type="xs:string"/>
        <xs:element name="MO_Name" type="xs:string"/>
        <xs:element name="Resource_Name" type="xs:string"/>
        <xs:element name="Visit_Time" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReferralAppointmentInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Book_Id_Mis" type="xs:string"/>
        <xs:element name="Status_Code" type="xs:string"/>
        <xs:element name="Comment" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Patient_Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="OMS_Number" type="xs:string"/>
      <xs:element minOccurs="0" name="OMS_Series" type="xs:string"/>
      <xs:element minOccurs="0" name="SNILS" type="xs:string"/>
      <xs:element name="First_Name" type="xs:string"/>
      <xs:element name="Last_Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Middle_Name" type="xs:string"/>
      <xs:element name="Birth_Date" type="xs:date"/>
      <xs:element name="Sex" type="tns:Sex"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element minOccurs="0" name="Phone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Referrals">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Referral" type="tns:Param_Of_Referral"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Param_Of_Referral">
    <xs:sequence>
      <xs:element name="Referral_Id" type="xs:string"/>
      <xs:element name="Referral_Number" type="xs:string"/>
      <xs:element name="Referral_Type" type="xs:int"/>
      <xs:element name="Referral_Start_Date" type="xs:date"/>
      <xs:element minOccurs="0" name="Referral_End_Date" type="xs:date"/>
      <xs:element name="Payment_Source_Id" type="xs:int"/>
      <xs:element minOccurs="0" name="To_MO_OID" type="xs:string"/>
      <xs:element minOccurs="0" name="To_Service_Post" type="tns:Service_Post"/>
      <xs:element minOccurs="0" name="To_Service_Specialty" type="tns:Service_Specialty"/>
      <xs:element minOccurs="0" name="To_Resource_Name" type="xs:string"/>
      <xs:element minOccurs="0" name="To_Resource_Snils" type="xs:string"/>
      <xs:element minOccurs="0" name="Desease" type="xs:string"/>
      <xs:element minOccurs="0" name="Note" type="xs:string"/>
      <xs:element name="From_MO_OID" type="xs:string"/>
      <xs:element name="From_Post" type="tns:Post"/>
      <xs:element name="From_Resource_Name" type="xs:string"/>
      <xs:element name="From_Resource_Snils" type="xs:string"/>
      <xs:element name="Available_Record" type="tns:Available_Record"/>
      <xs:element minOccurs="0" name="Reason_Not_Available" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service_Post">
    <xs:sequence>
      <xs:element name="Post" type="tns:Post"/>
      <xs:element minOccurs="0" name="Services_Info" type="tns:Services_Info"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element name="Post_Id" type="xs:integer"/>
      <xs:element minOccurs="0" name="Add_Info_Post" type="tns:Add_Info_Post"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Add_Info_Post">
    <xs:sequence>
      <xs:element name="Inner_Id" type="xs:string"/>
      <xs:element name="Inner_Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Services_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Complex_Service_Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Complex_Service_Id" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="Service" type="tns:Service"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element name="Service_Id" type="xs:string"/>
      <xs:element minOccurs="0" name="Add_Info_Service" type="tns:Add_Info_Service"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Add_Info_Service">
    <xs:sequence>
      <xs:element name="Inner_Id" type="xs:string"/>
      <xs:element name="Inner_Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service_Specialty">
    <xs:sequence>
      <xs:element name="Specialty_Id" type="xs:int"/>
      <xs:element name="Services_Info" type="tns:Services_Info"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Error_Type">
    <xs:sequence>
      <xs:element name="Error_Code" type="xs:string"/>
      <xs:element name="Error_Message" type="xs:string"/>
      <xs:element minOccurs="0" name="Validation_Error" type="tns:Validation_Error_Type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Validation_Error_Type">
    <xs:sequence>
      <xs:element name="Message" type="xs:string"/>
      <xs:element minOccurs="0" name="Path" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service_Posts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Post" type="tns:Post"/>
      <xs:element minOccurs="0" name="Services_Info" type="tns:Services_Info"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MO_Resource_List">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MO_Available" type="tns:MO_Available"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MO_Available">
    <xs:sequence>
      <xs:element name="MO" type="tns:MO_Param_Age"/>
      <xs:element name="Resource_Available" type="tns:Resource_Available"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MO_Param_Age">
    <xs:complexContent>
      <xs:extension base="tns:MO_Param">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age_Group" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MO_Param">
    <xs:complexContent>
      <xs:extension base="tns:MO_Base">
        <xs:sequence>
          <xs:element name="MO_Address" type="xs:string"/>
          <xs:element minOccurs="0" name="MO_Phone" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MO_Base">
    <xs:sequence>
      <xs:element name="MO_Id" type="xs:string"/>
      <xs:element name="MO_OID" type="xs:string"/>
      <xs:element name="MO_Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Resource_Available">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Resource" type="tns:Resource_Param"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Resource_Param">
    <xs:sequence>
      <xs:element minOccurs="0" name="Specialist" type="tns:Specialist_Param"/>
      <xs:element minOccurs="0" name="Room" type="tns:Room_Param"/>
      <xs:element minOccurs="0" name="Available_Dates">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Available_Date" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Age_Group" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Specialist_Param">
    <xs:sequence>
      <xs:element name="Last_Name" type="xs:string"/>
      <xs:element name="First_Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Middle_Name" type="xs:string"/>
      <xs:element name="SNILS" type="xs:string"/>
      <xs:element name="Post" type="tns:Post"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Room_Param">
    <xs:sequence>
      <xs:element name="Room_OID" type="xs:string"/>
      <xs:element minOccurs="0" name="Room_Number" type="xs:string"/>
      <xs:element name="Room_Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Error_Data_Parameters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Parameter" type="tns:Validation_Error_Type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Service_Post_Specs">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Service_Post" type="tns:Service_Post"/>
        <xs:element name="Service_Specialty" type="tns:Service_Specialty"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="Status_Code" type="xs:string"/>
      <xs:element minOccurs="0" name="Comment" type="xs:string"/>
      <xs:element minOccurs="0" name="Parameters" type="tns:Parameters"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Parameter" type="tns:Parameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Sex">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F"/>
      <xs:enumeration value="M"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Available_Record">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVAILABLE"/>
      <xs:enumeration value="AVAILABLE_ONLY_RECEPTION"/>
      <xs:enumeration value="AVAILABLE_ONLY_DOCTOR"/>
      <xs:enumeration value="NO_APPOINTMENT"/>
      <xs:enumeration value="UNAVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Appointment_Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RECORDED"/>
      <xs:enumeration value="CANCELED"/>
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="PATIENT_NOT_ARRIVED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Canceled_Reason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELED_BY_PATIENT"/>
      <xs:enumeration value="ERROR_DATA_MIS"/>
      <xs:enumeration value="RECORD_NOT_CREATED_AT_EPGU"/>
      <xs:enumeration value="DATA_TRANSFER_ERROR_AT_EPGU"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParseException" type="tns:ParseException"/>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorOffset" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MalformedURLException" type="tns:MalformedURLException"/>
  <xs:complexType name="MalformedURLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
